@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.table-responsive::-webkit-scrollbar {
  height: 9px !important;
  overflow: hidden;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #a3a3a3 !important;
  border-radius: 10px;
}

.homeBannerSection {
  background-image: url("./assets/home_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.space_bg {
  background-image: url("./assets/space_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-bg {
  background-color: #1f2544;
  background-image: radial-gradient(at 18% 13%, #1f2544 0%, transparent 60%),
    radial-gradient(at 82% 53%, #474f7a 0%, transparent 50%),
    radial-gradient(at 23% 39%, #81689d 0%, transparent 40%),
    radial-gradient(at 44% 18%, #ffd0ec 0%, transparent 30%);
}

.gradient-auction-bg {
  background-image: linear-gradient(to bottom left, #0f172a, #1e1a78, #0f172a) !important;
}


.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(170, 0, 0);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
